.trips-stats-container {
  margin-top: 50px;
  flex: 1; /* Allows the Card to grow to take available space */
}

.trips-stats-content{
  padding: 0;
  padding-right: 30px;
  margin-block-end: 2%;
  justify-content: center;
}

.trip{
  width: 400px;
}

.tripStatsHeader{
  background: #f8df00;
  margin-inline-end: 0%;
  width: 100%;
}

.tripStats{
  padding-top: 15px;
  padding-bottom: 15px;
}