.trips-list-container 
{
  margin-top: 50px;
  display: flex;
  text-align: center;
}

.trips-list
{
  flex: 1;
  padding-right: 10px;
}

.side-by-side 
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -18px; /* Optional: Add some space between each side-by-side section */
  margin-block-start: 4.5%;
}

.list-item{
  border-radius: 4px;
  margin-bottom: 70px;
  font-weight: bold;
  border-radius: 4px;
  width: 800px;
  margin-bottom: 70px;
  font-weight: bold;
  flex: 1;
}

/* I moved your code into TripStats.css */
/* I moved your code into TripStats.css */
/* I moved your code into TripStats.css */
/* I moved your code into TripStats.css */
/* I moved your code into TripStats.css */
/* I moved your code into TripStats.css */