.LocationsHeader
{
  margin-bottom: -13px;
  background-color: #F8D405;
}
.BigStat
{
  margin-top: 40px;
  margin-bottom: -13px;
}
.side-by-side 
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -18px; /* Optional: Add some space between each side-by-side section */
}